<div class="container-content">
    <div class="container-content-listpost row">
        <div class="container-content-listpost-author col-md-8">
            <div class="container-content-listpost-author-info row">
                <img src="/img/author/1.png" alt="" class="col-sm-4" onclick="window.location='/author/forums';">
                <div class="container-content-listpost-author-info-text col-sm-7">
                    <a href="/author/forums"><h3>ADMIN VANS</h3></a>
                    <h5>1025 POSTS | 5242 COMMENTS</h5>
                    <div class="container-content-listpost-author-info-text-icon">
                        <a href=""><i class='bx bxl-facebook'></i></a>
                        <a href=""><i class='bx bxl-twitter'></i></a>
                        <a href=""><i class='bx bxl-pinterest-alt'></i></a>
                        <a href=""><i class='bx bxl-google-plus'></i></a>
                        <a href=""><i class='bx bxl-instagram'></i></a>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit. Vestibulum ac vehicula leo. Donec urna
                        lacus gravida ac vulputate sagittis tristique vitae lectus. Nullam rhoncus tortor at dignissim
                        vehicula.</p>
                </div>
            </div>
            <div class="container-content-listpost-author-posts row">
                <div class="container-content-listpost-author-posts-item col-sm-6">
                    <div class="container-content-listpost-author-posts-item-img">
                        <a href="/food/roasted-breakfast-potatoes"><img src="/img/author/2.png" alt=""></a>
                        <div class="container-content-listpost-author-posts-item-img-extra">
                            <h6>FOOD</h>
                        </div>
                    </div>
                    <a href="/food/roasted-breakfast-potatoes">
                        <h3>Roasted Breakfast Potatoes</h3>
                    </a>
                    <p>Junly 20, 2016 / 969 Views / 30 comment</p>
                    <h5>Themespond is a fashion product selling online website. With the mission to bring the utility in
                        purchasing for customer, we is offering over 4 million products from more than 20 different
                        brands.
                    </h5>
                </div>
                <div class="container-content-listpost-author-posts-item col-sm-6">
                    <div class="container-content-listpost-author-posts-item-img">
                        <a href="/travel/roasted-breakfast-potatoes"><img src="/img/author/3.png" alt=""></a>
                        <div class="container-content-listpost-author-posts-item-img-extra">
                            <h6>TRAVEL</h>
                        </div>
                    </div>
                    <a href="/travel/roasted-breakfast-potatoes">
                        <h3>Roasted Breakfast Potatoes</h3>
                    </a>
                    <p>Junly 20, 2016 / 969 Views / 30 comment</p>
                    <h5>Themespond is a fashion product selling online website. With the mission to bring the utility in
                        purchasing for customer, we is offering over 4 million products from more than 20 different
                        brands.
                    </h5>
                </div>
                <div class="container-content-listpost-author-posts-item col-sm-6">
                    <div class="container-content-listpost-author-posts-item-img">
                        <a href="/video/roasted-breakfast-potatoes"><img src="/img/author/4.png" alt=""></a>
                        <div class="container-content-listpost-author-posts-item-img-extra">
                            <h6>VIDEO</h>
                        </div>
                    </div>
                    <a href="/video/roasted-breakfast-potatoes">
                        <h3>Roasted Breakfast Potatoes</h3>
                    </a>
                    <p>Junly 20, 2016 / 969 Views / 30 comment</p>
                    <h5>Themespond is a fashion product selling online website. With the mission to bring the utility in
                        purchasing for customer, we is offering over 4 million products from more than 20 different
                        brands.
                    </h5>
                </div>
                <div class="container-content-listpost-author-posts-item col-sm-6">
                    <div class="container-content-listpost-author-posts-item-img">
                        <a href="/travel/roasted-breakfast-potatoes"><img src="/img/author/5.png" alt=""></a>
                        <div class="container-content-listpost-author-posts-item-img-extra">
                            <h6>TRAVEL</h>
                        </div>
                    </div>
                    <a href="/travel/roasted-breakfast-potatoes">
                        <h3>Roasted Breakfast Potatoes</h3>
                    </a>
                    <p>Junly 20, 2016 / 969 Views / 30 comment</p>
                    <h5>Themespond is a fashion product selling online website. With the mission to bring the utility in
                        purchasing for customer, we is offering over 4 million products from more than 20 different
                        brands.
                    </h5>
                </div>
                <div class="container-content-listpost-author-posts-item col-sm-6">
                    <div class="container-content-listpost-author-posts-item-img">
                        <a href="/fashion/roasted-breakfast-potatoes"><img src="/img/author/6.png" alt=""></a>
                        <div class="container-content-listpost-author-posts-item-img-extra">
                            <h6>FASHION</h>
                        </div>
                    </div>
                    <a href="/fashion/roasted-breakfast-potatoes">
                        <h3>Roasted Breakfast Potatoes</h3>
                    </a>
                    <p>Junly 20, 2016 / 969 Views / 30 comment</p>
                    <h5>Themespond is a fashion product selling online website. With the mission to bring the utility in
                        purchasing for customer, we is offering over 4 million products from more than 20 different
                        brands.
                    </h5>
                </div>
                <div class="container-content-listpost-author-posts-item col-sm-6">
                    <div class="container-content-listpost-author-posts-item-img">
                        <a href="/food/roasted-breakfast-potatoes"><img src="/img/author/8.png" alt=""></a>
                        <div class="container-content-listpost-author-posts-item-img-extra">
                            <h6>FOOD</h>
                        </div>
                    </div>
                    <a href="/food/roasted-breakfast-potatoes">
                        <h3>Roasted Breakfast Potatoes</h3>
                    </a>
                    <p>Junly 20, 2016 / 969 Views / 30 comment</p>
                    <h5>Themespond is a fashion product selling online website. With the mission to bring the utility in
                        purchasing for customer, we is offering over 4 million products from more than 20 different
                        brands.
                    </h5>
                </div>
                <div class="container-content-listpost-author-posts-item col-sm-6">
                    <div class="container-content-listpost-author-posts-item-img">
                        <a href="/travel/roasted-breakfast-potatoes"><img src="/img/author/7.png" alt=""></a>
                        <div class="container-content-listpost-author-posts-item-img-extra">
                            <h6>TRAVEL</h>
                        </div>
                    </div>
                    <a href="/travel/roasted-breakfast-potatoes">
                        <h3>Roasted Breakfast Potatoes</h3>
                    </a>
                    <p>Junly 20, 2016 / 969 Views / 30 comment</p>
                    <h5>Themespond is a fashion product selling online website. With the mission to bring the utility in
                        purchasing for customer, we is offering over 4 million products from more than 20 different
                        brands.
                    </h5>
                </div>
                <div class="container-content-listpost-author-posts-item col-sm-6">
                    <div class="container-content-listpost-author-posts-item-img">
                        <a href="/food/roasted-breakfast-potatoes"><img src="/img/author/9.png" alt=""></a>
                        <div class="container-content-listpost-author-posts-item-img-extra">
                            <h6>FOOD</h>
                        </div>
                    </div>
                    <a href="/food/roasted-breakfast-potatoes">
                        <h3>Roasted Breakfast Potatoes</h3>
                    </a>
                    <p>Junly 20, 2016 / 969 Views / 30 comment</p>
                    <h5>Themespond is a fashion product selling online website. With the mission to bring the utility in
                        purchasing for customer, we is offering over 4 million products from more than 20 different
                        brands.
                    </h5>
                </div>
            </div>

            <div class="container-content-listpost-author-load">
                <h4>LOAD MORE</h4>
            </div>
        </div>
        {{!-- ///////////////////////////////////////////////////////////////////////////////// --}}
        <div class="container-content-listpost-subbar col-md-4">
            <div class="container-content-listpost-subbar-aboutus">
                <div class="container-content-listpost-subbar-aboutus-title">
                    <h3>ABOUT US</h3>
                </div>
                <div class="container-content-listpost-subbar-aboutus-item">
                    <img src="/img/homepage/content/15.png" alt="">
                    <h4>THEMESPOND DESIGN</h4>
                    <p>Themespond is a fashion product selling online website. With the mission to bring the utility in
                        purchasing for customer, we is offering over 4 million products from more than 20 different
                        brands.
                    </p>
                </div>
            </div>

            <div class="container-content-listpost-subbar-stay">
                <div class="container-content-listpost-subbar-stay-title">
                    <h3>STAY CONNECTED</h3>
                </div>
                <div class="container-content-listpost-subbar-stay-list">
                    <div class="container-content-listpost-subbar-stay-list-item"
                        onclick="window.location='https://www.facebook.com/ThuanCute.147';">
                        <div class="container-content-listpost-subbar-stay-list-item-logo "
                            style="background-color: #ffa801;">
                            <i class='bx bx-rss'></i>
                        </div>
                        <h5>RSS FEED</h5>
                    </div>
                    <div class="container-content-listpost-subbar-stay-list-item"
                        onclick="window.location='https://www.facebook.com/ThuanCute.147';">
                        <div class="container-content-listpost-subbar-stay-list-item-logo"
                            style="background-color: #31aae1;">
                            <i class='bx bxl-twitter'></i>
                        </div>
                        <h5>FOLLOW US</h5>
                    </div>
                    <div class="container-content-listpost-subbar-stay-list-item"
                        onclick="window.location='https://www.facebook.com/ThuanCute.147';">
                        <div class="container-content-listpost-subbar-stay-list-item-logo"
                            style="background-color: #3b59a1;">
                            <i class='bx bxl-facebook'></i>
                        </div>
                        <h5>FOLLOW US</h5>
                    </div>
                    <div class="container-content-listpost-subbar-stay-list-item"
                        onclick="window.location='https://www.facebook.com/ThuanCute.147';">
                        <div class="container-content-listpost-subbar-stay-list-item-logo"
                            style="background-color: #6d9f2c;">
                            <i class='bx bxl-pinterest-alt'></i>
                        </div>
                        <h5>FOLLOW US</h5>
                    </div>
                    <div class="container-content-listpost-subbar-stay-list-item"
                        onclick="window.location='https://www.facebook.com/ThuanCute.147';">
                        <div class="container-content-listpost-subbar-stay-list-item-logo"
                            style="background-color: #eb5d8b;">
                            <i class='bx bxl-dribbble'></i>
                        </div>
                        <h5>FOLLOW US</h5>
                    </div>
                    <div class="container-content-listpost-subbar-stay-list-item"
                        onclick="window.location='https://www.facebook.com/ThuanCute.147';">
                        <div class="container-content-listpost-subbar-stay-list-item-logo"
                            style="background-color: #d94f35;">
                            <i class='bx bxl-google-plus'></i>
                        </div>
                        <h5>PLUS US</h5>
                    </div>
                </div>
            </div>

            <div class="container-content-listpost-subbar-instagram">
                <div class="container-content-listpost-subbar-instagram-title">
                    <h3>FOLLOW INSTAGRAM</h3>
                </div>
                <div class="container-content-listpost-subbar-instagram-list">
                    <div class="container-content-listpost-subbar-instagram-list-img">
                        <img src="/img/homepage/content/16.png" alt="">
                    </div>
                    <div class="container-content-listpost-subbar-instagram-list-img">
                        <img src="/img/homepage/content/17.png" alt="">
                    </div>
                    <div class="container-content-listpost-subbar-instagram-list-img">
                        <img src="/img/homepage/content/18.png" alt="">
                    </div>
                    <div class="container-content-listpost-subbar-instagram-list-img">
                        <img src="/img/homepage/content/19.png" alt="">
                    </div>
                    <div class="container-content-listpost-subbar-instagram-list-img">
                        <img src="/img/homepage/content/20.png" alt="">
                    </div>
                    <div class="container-content-listpost-subbar-instagram-list-img">
                        <img src="/img/homepage/content/21.png" alt="">
                    </div>
                    <div class="container-content-listpost-subbar-instagram-list-img">
                        <img src="/img/homepage/content/24.png" alt="">
                    </div>
                    <div class="container-content-listpost-subbar-instagram-list-img">
                        <img src="/img/homepage/content/22.png" alt="">
                    </div>
                    <div class="container-content-listpost-subbar-instagram-list-img">
                        <img src="/img/homepage/content/23.png" alt="">
                    </div>
                </div>
            </div>

            <div class="container-content-listpost-subbar-video">
                <div class="container-content-listpost-subbar-video-title">
                    <h3>FEATURED VIDEO</h3>
                </div>
                <div class="container-content-listpost-subbar-video-list" onclick="window.location='/life-style';">
                    <div class="container-content-listpost-subbar-video-list-img">
                        <img src="/img/homepage/content/27.png" alt="">
                    </div>
                    <div class="container-content-listpost-subbar-video-list-info">
                        <h4>My Favorite Outdoor</h4>
                        <h5>Life Style / April 09, 2016</h5>
                    </div>
                </div>
                <div class="container-content-listpost-subbar-video-list" onclick="window.location='/food';">
                    <div class="container-content-listpost-subbar-video-list-img">
                        <img src="/img/homepage/content/25.png" alt="">
                    </div>
                    <div class="container-content-listpost-subbar-video-list-info">
                        <h4>Tatsy Food</h4>
                        <h5>Food / April 10, 2016</h5>
                    </div>
                </div>
                <div class="container-content-listpost-subbar-video-list" onclick="window.location='/travel';">
                    <div class="container-content-listpost-subbar-video-list-img">
                        <img src="/img/homepage/content/26.png" alt="">
                    </div>
                    <div class="container-content-listpost-subbar-video-list-info">
                        <h4>Travel With Friend</h4>
                        <h5>Travel / April 02, 2016</h5>
                    </div>
                </div>
            </div>

            <div class="container-content-listpost-subbar-tags">
                <div class="container-content-listpost-subbar-tags-title">
                    <h3>EXPLORE TAGS</h3>
                </div>
                <div class="container-content-listpost-subbar-tags-list">
                    <a href="/food" class="container-content-listpost-subbar-tags-list-item">
                        <h4>FOOD</h4>
                    </a>
                    <a href="/travel" class="container-content-listpost-subbar-tags-list-item">
                        <h4>TRAVEL</h4>
                    </a>
                    <a href="photography" class="container-content-listpost-subbar-tags-list-item">
                        <h4>PHOTOGRAPHY</h4>
                    </a>
                    <a href="/life-style" class="container-content-listpost-subbar-tags-list-item">
                        <h4>LIFE STYLE</h4>
                    </a>
                    <a href="/fashion" class="container-content-listpost-subbar-tags-list-item">
                        <h4>FASHION</h4>
                    </a>
                    <a href="/video" class="container-content-listpost-subbar-tags-list-item">
                        <h4>VIDEO</h4>
                    </a>
                    <a href="/hot" class="container-content-listpost-subbar-tags-list-item">
                        <h4>HOT</h4>
                    </a>
                    <a href="/popular" class="container-content-listpost-subbar-tags-list-item">
                        <h4>POPULAR</h4>
                    </a>
                </div>
            </div>

            <div class="container-content-listpost-subbar-categories">
                <div class="container-content-listpost-subbar-categories-title">
                    <h3>CATEGORIES</h3>
                </div>
                <div class="container-content-listpost-subbar-categories-list">
                    <div class="container-content-listpost-subbar-categories-list-item">
                        <a href="/travel">Travel (10)</a>
                    </div>
                    <div class="container-content-listpost-subbar-categories-list-item">
                        <a href="/food">Food (25)</a>
                    </div>
                    <div class="container-content-listpost-subbar-categories-list-item">
                        <a href="/fashion">Fashion (40)</a>
                    </div>
                    <div class="container-content-listpost-subbar-categories-list-item">
                        <a href="/life-style">Life Style (36)</a>
                    </div>
                    <div class="container-content-listpost-subbar-categories-list-item">
                        <a href="/video">Video (4)</a>
                    </div>
                </div>
            </div>

            <div class="container-content-listpost-subbar-subscribe">
                <div class="container-content-listpost-subbar-subscribe-title">
                    <h3>SUBSCRIBE TO NEWSLETTER</h3>
                </div>
                <form action="" class="container-content-listpost-subbar-subscribe-form">
                    <input type="text" placeholder="Enter Your Email...">
                    <div class="container-content-listpost-subbar-subscribe-form-submit">
                        <i class='bx bx-chevrons-right'></i>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>