<div class="container-forums">
    <div class="container-forums-title">
        <h2>FORUMS</h2>
    </div>
    <div class="container-forums-find">
        <input type="text" placeholder="What you are looking for?">
        <i class='bx bx-search-alt-2'></i>
    </div>
    <div style="overflow-x: auto;">
        <table class="container-forums-table">
            <thead class="container-forums-table-title">
                <tr>
                    <th scope="col">FORUM</th>
                    <th scope="col">TOPICS</th>
                    <th scope="col">POSTS</th>
                    <th scope="col">FRESHNESS</th>
                </tr>
            </thead>
            <tbody class="container-forums-table-body">
                <tr onclick="window.location='/author/forums/topics';">
                    <td colspan="1" class="container-forums-table-body-forum">
                        <h3>General</h3>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt
                            ut
                            labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                            dolores
                            et ea rebum.</p>
                    </td>
                    <td colspan="1" class="container-forums-table-body-topics">1</td>
                    <td colspan="1" class="container-forums-table-body-posts">12</td>
                    <td colspan="1" class="container-forums-table-body-fresh">
                        <h4>1 months ago</h4>
                        <div class="container-forums-table-body-fresh-admin">
                            <i class='bx bxs-user'></i>
                            <p>Admin</p>
                        </div>
                    </td>
                </tr>
                <tr onclick="window.location='/author/forums/topics';">
                    <td colspan="1" class="container-forums-table-body-forum">
                        <h3>Global Off Topics</h3>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt
                            ut
                            labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                            dolores
                            et ea rebum.</p>
                    </td>
                    <td colspan="1" class="container-forums-table-body-topics">21</td>
                    <td colspan="1" class="container-forums-table-body-posts">201</td>
                    <td colspan="1" class="container-forums-table-body-fresh">
                        <h4>1 months ago</h4>
                        <div class="container-forums-table-body-fresh-admin">
                            <i class='bx bxs-user'></i>
                            <p>Admin</p>
                        </div>
                    </td>
                </tr>
                <tr onclick="window.location='/author/forums/topics';">
                    <td colspan="1" class="container-forums-table-body-forum">
                        <h3>Item Support</h3>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt
                            ut
                            labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                            dolores
                            et ea rebum.</p>
                    </td>
                    <td colspan="1" class="container-forums-table-body-topics">89</td>
                    <td colspan="1" class="container-forums-table-body-posts">233</td>
                    <td colspan="1" class="container-forums-table-body-fresh">
                        <h4>1 months ago</h4>
                        <div class="container-forums-table-body-fresh-admin">
                            <i class='bx bxs-user'></i>
                            <p>Admin</p>
                        </div>
                    </td>
                </tr>
                <tr onclick="window.location='/author/forums/topics';">
                    <td colspan="1" class="container-forums-table-body-forum">
                        <h3>New Forum Title</h3>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt
                            ut
                            labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                            dolores
                            et ea rebum.</p>
                    </td>
                    <td colspan="1" class="container-forums-table-body-topics">3</td>
                    <td colspan="1" class="container-forums-table-body-posts">347</td>
                    <td colspan="1" class="container-forums-table-body-fresh">
                        <h4>1 months ago</h4>
                        <div class="container-forums-table-body-fresh-admin">
                            <i class='bx bxs-user'></i>
                            <p>Admin</p>
                        </div>
                    </td>
                </tr>
                <tr onclick="window.location='/author/forums/topics';">
                    <td colspan="1" class="container-forums-table-body-forum">
                        <h3>Pre-Sale Questions</h3>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt
                            ut
                            labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                            dolores
                            et ea rebum.</p>
                    </td>
                    <td colspan="1" class="container-forums-table-body-topics">496</td>
                    <td colspan="1" class="container-forums-table-body-posts">2434</td>
                    <td colspan="1" class="container-forums-table-body-fresh">
                        <h4>1 months ago</h4>
                        <div class="container-forums-table-body-fresh-admin">
                            <i class='bx bxs-user'></i>
                            <p>Admin</p>
                        </div>
                    </td>
                </tr>
                <tr onclick="window.location='/author/forums/topics';">
                    <td colspan="1" class="container-forums-table-body-forum">
                        <h3>Site Feedback</h3>
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                            invidunt
                            ut
                            labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
                            dolores
                            et ea rebum.</p>
                    </td>
                    <td colspan="1" class="container-forums-table-body-topics">244</td>
                    <td colspan="1" class="container-forums-table-body-posts">9877</td>
                    <td colspan="1" class="container-forums-table-body-fresh">
                        <h4>1 months ago</h4>
                        <div class="container-forums-table-body-fresh-admin">
                            <i class='bx bxs-user'></i>
                            <p>Admin</p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>