<div class="container-forums">
    <div class="container-forums-title">
        <h2>FORUMS</h2>
    </div>
    <div class="container-forums-views">
        <h5>Viewing 6 topics - 1 through 6 (of 12 total)</h5>
    </div>
    <div style="overflow-x: auto;">
        <table class="container-forums-table">
            <thead class="container-forums-table-title">
                <tr>
                    <th scope="col">TOPICS</th>
                    <th scope="col">VOICES</th>
                    <th scope="col">POSTS</th>
                    <th scope="col">FRESHNESS</th>
                </tr>
            </thead>
            <tbody class="container-forums-table-body">
                <tr onclick="window.location='/author/forums/topics/lorem-ipsum-is-simply-dummy-text';">
                    <td colspan="1" class="container-forums-table-body-forum">
                        <h3>I’m not able to attach files to topic</h3>
                        <p>Started by: admin | 12 replies</p>
                    </td>
                    <td colspan="1" class="container-forums-table-body-topics">1</td>
                    <td colspan="1" class="container-forums-table-body-posts">12</td>
                    <td colspan="1" class="container-forums-table-body-fresh">
                        <h4>1 months ago</h4>
                        <div class="container-forums-table-body-fresh-admin">
                            <i class='bx bxs-user'></i>
                            <p>Admin</p>
                        </div>
                    </td>
                </tr>
                <tr onclick="window.location='/author/forums/topics/lorem-ipsum-is-simply-dummy-text';">
                    <td colspan="1" class="container-forums-table-body-forum">
                        <h3>Lorem Ipsum is simply dummy text</h3>
                        <p>Started by: admin | 12 replies</p>
                    </td>
                    <td colspan="1" class="container-forums-table-body-topics">1</td>
                    <td colspan="1" class="container-forums-table-body-posts">12</td>
                    <td colspan="1" class="container-forums-table-body-fresh">
                        <h4>1 months ago</h4>
                        <div class="container-forums-table-body-fresh-admin">
                            <i class='bx bxs-user'></i>
                            <p>Admin</p>
                        </div>
                    </td>
                </tr>
                <tr onclick="window.location='/author/forums/topics/lorem-ipsum-is-simply-dummy-text';">
                    <td colspan="1" class="container-forums-table-body-forum">
                        <h3>There are many variations of passages of Lorem Ipsum</h3>
                        <p>Started by: admin | 12 replies</p>
                    </td>
                    <td colspan="1" class="container-forums-table-body-topics">1</td>
                    <td colspan="1" class="container-forums-table-body-posts">12</td>
                    <td colspan="1" class="container-forums-table-body-fresh">
                        <h4>1 months ago</h4>
                        <div class="container-forums-table-body-fresh-admin">
                            <i class='bx bxs-user'></i>
                            <p>Admin</p>
                        </div>
                    </td>
                </tr>
                <tr onclick="window.location='/author/forums/topics/lorem-ipsum-is-simply-dummy-text';">
                    <td colspan="1" class="container-forums-table-body-forum">
                        <h3>Contrary to popular belief</h3>
                        <p>Started by: admin | 12 replies</p>
                    </td>
                    <td colspan="1" class="container-forums-table-body-topics">1</td>
                    <td colspan="1" class="container-forums-table-body-posts">12</td>
                    <td colspan="1" class="container-forums-table-body-fresh">
                        <h4>1 months ago</h4>
                        <div class="container-forums-table-body-fresh-admin">
                            <i class='bx bxs-user'></i>
                            <p>Admin</p>
                        </div>
                    </td>
                </tr>
                <tr onclick="window.location='/author/forums/topics/lorem-ipsum-is-simply-dummy-text';">
                    <td colspan="1" class="container-forums-table-body-forum">
                        <h3>The standard chunk of Lorem Ipsum used since the 1500s</h3>
                        <p>Started by: admin | 12 replies</p>
                    </td>
                    <td colspan="1" class="container-forums-table-body-topics">1</td>
                    <td colspan="1" class="container-forums-table-body-posts">12</td>
                    <td colspan="1" class="container-forums-table-body-fresh">
                        <h4>1 months ago</h4>
                        <div class="container-forums-table-body-fresh-admin">
                            <i class='bx bxs-user'></i>
                            <p>Admin</p>
                        </div>
                    </td>
                </tr>
                <tr onclick="window.location='/author/forums/topics/lorem-ipsum-is-simply-dummy-text';">
                    <td colspan="1" class="container-forums-table-body-forum">
                        <h3>All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary
                        </h3>
                        <p>Started by: admin | 12 replies</p>
                    </td>
                    <td colspan="1" class="container-forums-table-body-topics">1</td>
                    <td colspan="1" class="container-forums-table-body-posts">12</td>
                    <td colspan="1" class="container-forums-table-body-fresh">
                        <h4>1 months ago</h4>
                        <div class="container-forums-table-body-fresh-admin">
                            <i class='bx bxs-user'></i>
                            <p>Admin</p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="container-forums-views" style="border-top: 24px solid #dfdfdf;">
        <h5>Viewing 6 topics - 1 through 6 (of 12 total)</h5>
    </div>
    <div class="container-forums-clicklogin">
        <h5>You must be logged in to create new topics. Click here to login!</h5>
    </div>
</div>