.footer {
    margin-top: 90px;

    &-img {
        width: 100%;
        height: 288px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }

    &-content {
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid #dfdfdf;
        padding-bottom: 55px;

        &-about {
            width: 30%;
            
            &-title {
                border: 2px solid #d6d6d6;

                h2 {
                    margin: 20px 0;
                    text-align: center;
                    font-size: 16px;
                }
            }

            &-img {
                width: 100%;
                margin-top: 35px;

                img {
                    width: 100%;
                }
            }

            &-info {
                text-align: center;

                h3 {
                    @include font(16px, #2f2f2f, 600, $font-text);
                    margin: 20px 0
                }

                p {
                    @include font(14px, #aaaaaa, 400, $font-text);
                    line-height: 24px;
                }
            }
        }

        &-post {
            width: 30%;

            &-title {
                border: 2px solid #d6d6d6;

                h2 {
                    margin: 20px 0;
                    text-align: center;
                    font-size: 16px;
                }
            }

            &-item {
                margin-top: 28px;
                display: flex;
                justify-content: space-between;
                cursor: pointer;

                &:hover {
                    box-shadow: 1px 5px 10px 5px rgba(0, 0, 0, 0.2);
                    transition: 0.25s ease;
                }

                &-img {
                    width: 30%;

                    img {
                        width: 100%;
                    }
                }

                &-info {
                    width: 65%;
                    display: flex;
                    flex-direction: column;
                    align-items: right;

                    h3 {
                        margin: 0 0 24px 0;
                        @include font(16px, #2f2f2f, 600, $font-text);
                    }
    
                    p {
                        @include font(14px, #e09a3b, 600, $font-text);
                        margin: 0;
                    }
                }
            }
        }

        &-categories {
            width: 30%;

            &-title {
                border: 2px solid #d6d6d6;

                h2 {
                    margin: 20px 0;
                    text-align: center;
                    font-size: 16px;
                }
            }

            &-item {
                padding: 32px 0;
                border-bottom: 1px solid #dfdfdf;
                
                a {
                    text-decoration: none;
                    @include font(16px, #333333, 600, $font-text);
                    margin: 0;

                    &:hover {
                        transition: 0.25s ease;
                        opacity: 0.6;
                        color: $text-highlight;
                    }
                }
            }
        }
    }

    &-logo {
        text-align: center;
        margin-top: 28px;

        a {
            text-decoration: none;
            color: $title-color;
            margin-right: 24px;

            &:hover {
                color: $text-highlight;
                transition: 0.25s ease;
            }
        }
    }

    &-coppyright {
        text-align: center;
        margin-top: 36px;

        h5 {
            @include font(14px, #999999, 400, $font-coppyright);
            
            span {
                color: $text-highlight;
            }
        }
    }
}