@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Open%20Sans');

$font-title: 'Lato';
$font-text: 'Montserrat';
$title-color: #212121;
$subtitles-color: #848484;
$text-color: #666666;
$text-highlight: #e09a3b;
$backgroud: #ffffff;
$font-coppyright: 'Open Sans';
