.container-content-listpost-posts-item-info {
    a {
        text-decoration: none;
    }
}

.header-menu-list {
    a {
        text-decoration: none;
    }
}

.container-content-listpost-subbar-tags-list {
    a {
        text-decoration: none;
    }
}

.container-content-listpost-subbar-categories-list-item {
    a {
        text-decoration: none;
    }
}

.footer-content-categories-item {
    a {
        text-decoration: none;
    }
}

.container-content-listpost-blog-list {
    a {
        text-decoration: none;
    }
}

.container-content-listpost-author-posts-item {
    a {
        text-decoration: none;
    }
}

.container-content-listpost-blog-author-info-name {
    a {
        text-decoration: none;
    }
}

.container-content-listpost-blog-comment-user-info {
    a {
        text-decoration: none;
    }
}

.container-content-listpost-author-info-text {
    a {
        text-decoration: none;
    }
}