<footer class="footer">
    <div class="footer-img">
        <img src="/img/header-footer/6.png" alt="">
    </div>
    
    <div class="footer-content row">
        <div class="footer-content-about col-md-4">
            <div class="footer-content-about-title">
                <h2>ABOUT US</h2>
            </div>
            <div class="footer-content-about-img">
                <img src="/img/header-footer/3.png" alt="">
            </div>
            <div class="footer-content-about-info">
                <h3>THEMESPOND DESIGN</h3>
                <p>Themespond is a fashion product selling online website. With the mission to bring the utility in purchasing for customer, we is offering over 4 million products from more than 20 different brands.</p>
            </div>
        </div>

        <div class="footer-content-post col-md-4">
            <div class="footer-content-post-title">
                <h2>LATEST POST</h2>
            </div>
            <div class="footer-content-post-item" onclick="window.location='/life-style';">
                <div class="footer-content-post-item-img">
                    <img src="/img/header-footer/2.png" alt="">
                </div>
                <div class="footer-content-post-item-info">
                    <h3>My Favorite Outdoor</h3>
                    <p>Life Style / April 09, 2016</p>
                </div>
            </div>
            <div class="footer-content-post-item" onclick="window.location='/food';">
                <div class="footer-content-post-item-img">
                    <img src="/img/header-footer/4.png" alt="">
                </div>
                <div class="footer-content-post-item-info">
                    <h3>Tatsy Food</h3>
                    <p>Food / April 10, 2016</p>
                </div>
            </div>
            <div class="footer-content-post-item" onclick="window.location='/travel';">
                <div class="footer-content-post-item-img">
                    <img src="/img/header-footer/5.png" alt="">
                </div>
                <div class="footer-content-post-item-info">
                    <h3>Travel With Friend</h3>
                    <p>Travel / April 02, 2016</p>
                </div>
            </div>
        </div>

        <div class="footer-content-categories col-md-4">
            <div class="footer-content-categories-title">
                <h2>CATEGORIES</h2>
            </div>
            <div class="footer-content-categories-item">
                <a href="/food">Food (25)</a>
            </div>
            <div class="footer-content-categories-item">
                <a href="/fashion">Fashion (40)</a>
            </div>
            <div class="footer-content-categories-item">
                <a href="/life-style">Life Style (36)</a>
            </div>
            <div class="footer-content-categories-item">
                <a href="/video">Video (4)</a>
            </div>
        </div>
    </div>

    <div class="footer-logo">
        <a href=""><i class='bx bxl-facebook'></i></a>
        <a href=""><i class='bx bxl-twitter' ></i></a>
        <a href=""><i class='bx bxl-pinterest-alt' ></i></a>
        <a href=""><i class='bx bxl-google-plus' ></i></a>
        <a href=""><i class='bx bxl-tumblr' ></i></a>
        <a href=""><i class='bx bxl-instagram' ></i></a>
    </div>

    <div class="footer-coppyright">
        <h5>Copyright 2016 by <span>Themespond</span></h5>
    </div>
</footer>