<header class="header">
    <div class="header-top">
        <select class="header-top-laguages">
            <option selected>Choose your laguages</option>
            <option>Vietnamese</option>
            <option>English</option>
        </select>       
        <form class="header-top-input">
            <input type="text" placeholder="Search">
            <button type="submit" class="header-top-input-btn">
                <i class='bx bx-search-alt-2'></i>
            </button>
        </form>
    </div>

    <div class="header-logo">
        <a href="/"><img src="/img/header-footer/1.png" alt=""></a>
    </div>

    <div class="header-menu">
        <ul class="header-menu-list">
            <li><a href="/">HOME</a></li>
            <li><a href="/about/us">ABOUT US</a></li>
            <li><a href="/contact">CONTACT</a></li>
            <li><a href="/life-style">LIFESTYLE</a></li>
            <li><a href="/fashion">FASHION</a></li>
            <li><a href="/travel">TRAVEL</a></li>
            <li><a href="/food">FOOD</a></li>
            <li>
                <div class="header-menu-list-logo">
                    <a href="https://www.facebook.com/ThuanCute.147/"><i class='bx bxl-facebook'></i></a>
                    <a href="https://www.facebook.com/ThuanCute.147/"><i class='bx bxl-twitter' ></i></a>
                    <a href="https://www.facebook.com/ThuanCute.147/"><i class='bx bxl-pinterest-alt' ></i></a>
                    <a href="https://www.facebook.com/ThuanCute.147/"><i class='bx bxl-google-plus' ></i></a>
                    <a href="https://www.facebook.com/ThuanCute.147/"><i class='bx bxl-instagram'></i></a>
                </div>
            </li>
        </ul>
    </div>

</header>