<div class="container-content">
    <div class="container-content-contact">
        <div class="container-content-contact-img">
            <img src="/img/contact/Marker.png" alt="">
        </div>

        <div class="container-content-contact-form row">
            <form class="container-content-contact-form-input col-md-6">
                <h2>Contact Form</h2>
                <div class="container-content-contact-form-input-info row">
                    <div class="container-content-contact-form-input-info-name col-lg-6">
                        <h5>NAME</h5>
                        <input type="text" placeholder="Your name" name="Name">
                    </div>
                    <div class="container-content-contact-form-input-info-email col-lg-6">
                        <h5>EMAIL</h5>
                        <input type="text" placeholder="Your email" name="Email">
                    </div>
                </div>
                <div class="container-content-contact-form-input-messeage">
                    <h5>MESSAGE</h5>
                    <textarea name="Message" placeholder="Write your message..."></textarea>
                </div>
                <div class="container-content-contact-form-input-button">
                    <button class="button">SEND MESSAGE</button>
                </div>
            </form>

            <div class="container-content-contact-form-infomation col-md-6">
                <h2>Contact Infomation</h2>
                <h5>BUSINESS HOURS</h5>
                <h6><span>Our support Hotline is available 24 Hours a day: (84) 935 815 989</span>
                    <span>Monday-Friday: 8am to 6pm</span>
                    <span>Saturday: 10am to 2pm</span>
                    <span>Sunday: Closed</span>
                </h6>
                <h5>BUILDING ADDRESS</h5>
                <h6>Themespond 15/6 Napoli Street, Melbourne VIC 3000, Canada</h6>
                <h5>EMAIL</h5>
                <h6 style="color: #e09a3b;">themespond@gmail.com</h6>
                <h5>CELLPHONE</h5>
                <h6>+123 145 999 999</h6>
            </div>
        </div>
    </div>
</div>