<div class="banner">
    <div class="slideshow-container">
        <div class="mySlides">
            <img src="/img/homepage/banner/2.png" style="width:100%" />
        </div>
        <div class="mySlides">
            <img src="/img/homepage/banner/1.png" style="width:100%" />
        </div>
        <div class="mySlides">
            <img src="/img/homepage/banner/3.png" style="width:100%" />
        </div>
        <div class="mySlides">
            <img src="/img/homepage/banner/4.png" style="width:100%" />
        </div>
        <div class="mySlides">
            <img src="/img/homepage/banner/5.png" style="width:100%" />
        </div>
        <div class="mySlides">
            <img src="/img/homepage/banner/6.png" style="width:100%" />
        </div>
        <!-- Nút điều khiển mũi tên-->
        <img src="/img/homepage/banner/btn-prev.png" class="prev" onclick="plusSlides(-1)" />
        <img src="/img/homepage/banner/btn-next.png" class="next" onclick="plusSlides(1)" />
    </div>

    <div class="banner-info">
        <h5>TRAVEL</h5>
        <h1>Hymn For The Weekend</h1>
        <p>Junly 20, 2016 / 969 Views / 30 comment</p>
    </div>
</div>

<div class="container-content">
    <div class="container-content-newpost">
        <h2>NEW POST</h2>
    </div>
    <div class="container-content-title row">
        <div class="container-content-title-list col-md-3" onclick="window.location='/life-style';">
            <img src="img/homepage/content/1.png" alt="" />
            <h4>LIFE STYLE</h4>
            <h3>My Favorite Outdoor Looks For Every Occasion</h3>
        </div>
        <div class="container-content-title-list col-md-3" onclick="window.location='/fashion';">
            <img src="img/homepage/content/2.png" alt="" />
            <h4>FASHION</h4>
            <h3>Paris Fashion Week 2016</h3>
        </div>
        <div class="container-content-title-list col-md-3" onclick="window.location='/travel';">
            <img src="img/homepage/content/3.png" alt="" />
            <h4>TRAVEL</h4>
            <h3>How To Buy Travel Insurance </h3>
        </div>
        <div class="container-content-title-list col-md-3" onclick="window.location='/food';">
            <img src="img/homepage/content/4.png" alt="" />
            <h4>FOOD</h4>
            <h3>Tasy Foods With a Healthy Touch</h3>
        </div>
    </div>

    <div class="container-content-listpost row">
        <div class="container-content-listpost-posts col-md-8">
            <div class="container-content-listpost-posts-title">
                <div class="container-content-listpost-posts-title-latest">
                    <h3 class="active">LATSET STORIES</h3>
                </div>
                <div class="container-content-listpost-posts-title-popular">
                    <h3>POPULAR STORIES</h3>
                </div>
            </div>

            <div class="container-content-listpost-posts-item row">
                <img class="col-sm-4" src="/img/homepage/content/5.png" alt="" onclick="window.location='/blog';" />
                <div class="container-content-listpost-posts-item-info col-sm-8">
                    <a href="/life-style">
                        <h5>LIFE STYLE</h5>
                    </a>
                    <a href="/blog">
                        <h4>This is 25</h4>
                    </a>
                    <span>Junly 20, 2016 / 969 Views / 30 comment</span>
                    <p>Themespond is a fashion product selling online website. With the
                        mission to bring the utility in purchasing for customer, we is
                        offering over 4 million products from more than 20 different brands.</p>
                </div>
            </div>
            <div class="container-content-listpost-posts-item row">
                <img class="col-sm-4" src="/img/homepage/content/8.png" alt="" onclick="window.location='/blog';" />
                <div class="container-content-listpost-posts-item-info col-sm-8">
                    <a href="/travel">
                        <h5>TRAVEL</h5>
                    </a>
                    <a href="/blog">
                        <h4 style="color: #e09a3b">Carry- on: What Lee Can’t Travel Without</h4>
                    </a>
                    <span>Junly 20, 2016 / 969 Views / 30 comment</span>
                    <p>Themespond is a fashion product selling online website. With the
                        mission to bring the utility in purchasing for customer, we is
                        offering over 4 million products from more than 20 different brands.</p>
                </div>
            </div>
            <div class="container-content-listpost-posts-item row">
                <img class="col-sm-4" src="/img/homepage/content/7.png" alt=""
                    onclick="window.location='/blog';" />
                <div class="container-content-listpost-posts-item-info col-sm-8">
                    <a href="/food">
                        <h5>FOOD</h5>
                    </a>
                    <a href="/blog">
                        <h4>Roasted Breakfast Potatoes</h4>
                    </a>
                    <span>Junly 20, 2016 / 969 Views / 30 comment</span>
                    <p>Themespond is a fashion product selling online website. With the
                        mission to bring the utility in purchasing for customer, we is
                        offering over 4 million products from more than 20 different brands.</p>
                </div>
            </div>
            <div class="container-content-listpost-posts-item row">
                <img class="col-sm-4" src="/img/homepage/content/1.png" alt=""
                    onclick="window.location='/blog';" />
                <div class="container-content-listpost-posts-item-info col-sm-8">
                    <a href="/life-style">
                        <h5>LIFE STYLE</h5>
                    </a>
                    <a href="/blog">
                        <h4>Encouraging Your Child to Walk</h4>
                    </a>
                    <span>Junly 20, 2016 / 969 Views / 30 comment</span>
                    <p>Themespond is a fashion product selling online website. With the
                        mission to bring the utility in purchasing for customer, we is
                        offering over 4 million products from more than 20 different brands.</p>
                </div>
            </div>
            <div class="container-content-listpost-posts-item row">
                <img class="col-sm-4" src="/img/homepage/content/9.png" alt=""
                    onclick="window.location='/blog';" />
                <div class="container-content-listpost-posts-item-info col-sm-8">
                    <a href="/food">
                        <h5>FOOD</h5>
                    </a>
                    <a href="/blog">
                        <h4>How to Make Chocolate Cupcakes</h4>
                    </a>
                    <span>Junly 20, 2016 / 969 Views / 30 comment</span>
                    <p>Themespond is a fashion product selling online website. With the
                        mission to bring the utility in purchasing for customer, we is
                        offering over 4 million products from more than 20 different brands.</p>
                </div>
            </div>
            <div class="container-content-listpost-posts-item row">
                <img class="col-sm-4" src="/img/homepage/content/10.png" alt="" onclick="window.location='/blog';" />
                <div class="container-content-listpost-posts-item-info col-sm-8">
                    <a href="/travel">
                        <h5>TRAVEL</h5>
                    </a>
                    <a href="/blog">
                        <h4>Where to Go Now</h4>
                    </a>
                    <span>Junly 20, 2016 / 969 Views / 30 comment</span>
                    <p>Themespond is a fashion product selling online website. With the
                        mission to bring the utility in purchasing for customer, we is
                        offering over 4 million products from more than 20 different brands.</p>
                </div>
            </div>
            <div class="container-content-listpost-posts-item row">
                <img class="col-sm-4" src="/img/homepage/content/11.png" alt=""
                    onclick="window.location='/blog';" />
                <div class="container-content-listpost-posts-item-info col-sm-8">
                    <a href="/travel">
                        <h5>TRAVEL</h5>
                    </a>
                    <a href="/blog">
                        <h4>Day Trip: Green Garden</h4>
                    </a>
                    <span>Junly 20, 2016 / 969 Views / 30 comment</span>
                    <p>Themespond is a fashion product selling online website. With the
                        mission to bring the utility in purchasing for customer, we is
                        offering over 4 million products from more than 20 different brands.</p>
                </div>
            </div>
            <div class="container-content-listpost-posts-item row">
                <img class="col-sm-4" src="/img/homepage/content/13.png" alt=""
                    onclick="window.location='/blog';" />
                <div class="container-content-listpost-posts-item-info col-sm-8">
                    <a href="/life-style">
                        <h5>LIFE STYLE</h5>
                    </a>
                    <a href="/blog">
                        <h4>10+ Nice Tattoos for Girls</h4>
                    </a>
                    <span>Junly 20, 2016 / 969 Views / 30 comment</span>
                    <p>Themespond is a fashion product selling online website. With the
                        mission to bring the utility in purchasing for customer, we is
                        offering over 4 million products from more than 20 different brands.</p>
                </div>
            </div>
            <div class="container-content-listpost-posts-item row">
                <img class="col-sm-4" src="/img/homepage/content/14.png" alt=""
                    onclick="window.location='/blog';" />
                <div class="container-content-listpost-posts-item-info col-sm-8">
                    <a href="/life-style">
                        <h5>LIFE STYLE</h5>
                    </a>
                    <a href="/blog">
                        <h4>My Favorite Outdoor LooksFor Every Occasion</h4>
                    </a>
                    <span>Junly 20, 2016 / 969 Views / 30 comment</span>
                    <p>Themespond is a fashion product selling online website. With the
                        mission to bring the utility in purchasing for customer, we is
                        offering over 4 million products from more than 20 different brands.</p>
                </div>
            </div>
            <div class="container-content-listpost-posts-item row">
                <img class="col-sm-4" src="/img/homepage/content/12.png" alt=""
                    onclick="window.location='/blog';" />
                <div class="container-content-listpost-posts-item-info col-sm-8">
                    <a href="/travel">
                        <h5>TRAVEL</h5>
                    </a>
                    <a href="/blog">
                        <h4>Finding Common Ground in the US</h4>
                    </a>
                    <span>Junly 20, 2016 / 969 Views / 30 comment</span>
                    <p>Themespond is a fashion product selling online website. With the
                        mission to bring the utility in purchasing for customer, we is
                        offering over 4 million products from more than 20 different brands.</p>
                </div>
            </div>

            <div class="container-content-listpost-posts-load">
                <h4>LOAD MORE</h4>
            </div>
        </div>

        <div class="container-content-listpost-subbar col-md-4">
            <div class="container-content-listpost-subbar-aboutus">
                <div class="container-content-listpost-subbar-aboutus-title">
                    <h3>ABOUT US</h3>
                </div>
                <div class="container-content-listpost-subbar-aboutus-item">
                    <img src="/img/homepage/content/15.png" alt="">
                    <h4>THEMESPOND DESIGN</h4>
                    <p>Themespond is a fashion product selling online website. With the mission to bring the utility in
                        purchasing for customer, we is offering over 4 million products from more than 20 different
                        brands.
                    </p>
                </div>
            </div>

            <div class="container-content-listpost-subbar-stay">
                <div class="container-content-listpost-subbar-stay-title">
                    <h3>STAY CONNECTED</h3>
                </div>
                <div class="container-content-listpost-subbar-stay-list">
                    <div class="container-content-listpost-subbar-stay-list-item"
                        onclick="window.location='https://www.facebook.com/ThuanCute.147';">
                        <div class="container-content-listpost-subbar-stay-list-item-logo "
                            style="background-color: #ffa801;">
                            <i class='bx bx-rss'></i>
                        </div>
                        <h5>RSS FEED</h5>
                    </div>
                    <div class="container-content-listpost-subbar-stay-list-item"
                        onclick="window.location='https://www.facebook.com/ThuanCute.147';">
                        <div class="container-content-listpost-subbar-stay-list-item-logo"
                            style="background-color: #31aae1;">
                            <i class='bx bxl-twitter'></i>
                        </div>
                        <h5>FOLLOW US</h5>
                    </div>
                    <div class="container-content-listpost-subbar-stay-list-item"
                        onclick="window.location='https://www.facebook.com/ThuanCute.147';">
                        <div class="container-content-listpost-subbar-stay-list-item-logo"
                            style="background-color: #3b59a1;">
                            <i class='bx bxl-facebook'></i>
                        </div>
                        <h5>FOLLOW US</h5>
                    </div>
                    <div class="container-content-listpost-subbar-stay-list-item"
                        onclick="window.location='https://www.facebook.com/ThuanCute.147';">
                        <div class="container-content-listpost-subbar-stay-list-item-logo"
                            style="background-color: #6d9f2c;">
                            <i class='bx bxl-pinterest-alt'></i>
                        </div>
                        <h5>FOLLOW US</h5>
                    </div>
                    <div class="container-content-listpost-subbar-stay-list-item"
                        onclick="window.location='https://www.facebook.com/ThuanCute.147';">
                        <div class="container-content-listpost-subbar-stay-list-item-logo"
                            style="background-color: #eb5d8b;">
                            <i class='bx bxl-dribbble'></i>
                        </div>
                        <h5>FOLLOW US</h5>
                    </div>
                    <div class="container-content-listpost-subbar-stay-list-item"
                        onclick="window.location='https://www.facebook.com/ThuanCute.147';">
                        <div class="container-content-listpost-subbar-stay-list-item-logo"
                            style="background-color: #d94f35;">
                            <i class='bx bxl-google-plus'></i>
                        </div>
                        <h5>PLUS US</h5>
                    </div>
                </div>
            </div>

            <div class="container-content-listpost-subbar-instagram">
                <div class="container-content-listpost-subbar-instagram-title">
                    <h3>FOLLOW INSTAGRAM</h3>
                </div>
                <div class="container-content-listpost-subbar-instagram-list">
                    <div class="container-content-listpost-subbar-instagram-list-img">
                        <img src="/img/homepage/content/16.png" alt="">
                    </div>
                    <div class="container-content-listpost-subbar-instagram-list-img">
                        <img src="/img/homepage/content/17.png" alt="">
                    </div>
                    <div class="container-content-listpost-subbar-instagram-list-img">
                        <img src="/img/homepage/content/18.png" alt="">
                    </div>
                    <div class="container-content-listpost-subbar-instagram-list-img">
                        <img src="/img/homepage/content/19.png" alt="">
                    </div>
                    <div class="container-content-listpost-subbar-instagram-list-img">
                        <img src="/img/homepage/content/20.png" alt="">
                    </div>
                    <div class="container-content-listpost-subbar-instagram-list-img">
                        <img src="/img/homepage/content/21.png" alt="">
                    </div>
                    <div class="container-content-listpost-subbar-instagram-list-img">
                        <img src="/img/homepage/content/24.png" alt="">
                    </div>
                    <div class="container-content-listpost-subbar-instagram-list-img">
                        <img src="/img/homepage/content/22.png" alt="">
                    </div>
                    <div class="container-content-listpost-subbar-instagram-list-img">
                        <img src="/img/homepage/content/23.png" alt="">
                    </div>
                </div>
            </div>

            <div class="container-content-listpost-subbar-video">
                <div class="container-content-listpost-subbar-video-title">
                    <h3>FEATURED VIDEO</h3>
                </div>
                <div class="container-content-listpost-subbar-video-list" onclick="window.location='/life-style';">
                    <div class="container-content-listpost-subbar-video-list-img">
                        <img src="/img/homepage/content/27.png" alt="">
                    </div>
                    <div class="container-content-listpost-subbar-video-list-info">
                        <h4>My Favorite Outdoor</h4>
                        <h5>Life Style / April 09, 2016</h5>
                    </div>
                </div>
                <div class="container-content-listpost-subbar-video-list" onclick="window.location='/food';">
                    <div class="container-content-listpost-subbar-video-list-img">
                        <img src="/img/homepage/content/25.png" alt="">
                    </div>
                    <div class="container-content-listpost-subbar-video-list-info">
                        <h4>Tatsy Food</h4>
                        <h5>Food / April 10, 2016</h5>
                    </div>
                </div>
                <div class="container-content-listpost-subbar-video-list" onclick="window.location='/travel';">
                    <div class="container-content-listpost-subbar-video-list-img">
                        <img src="/img/homepage/content/26.png" alt="">
                    </div>
                    <div class="container-content-listpost-subbar-video-list-info">
                        <h4>Travel With Friend</h4>
                        <h5>Travel / April 02, 2016</h5>
                    </div>
                </div>
            </div>

            <div class="container-content-listpost-subbar-tags">
                <div class="container-content-listpost-subbar-tags-title">
                    <h3>EXPLORE TAGS</h3>
                </div>
                <div class="container-content-listpost-subbar-tags-list">
                    <a href="/food" class="container-content-listpost-subbar-tags-list-item">
                        <h4>FOOD</h4>
                    </a>
                    <a href="/travel" class="container-content-listpost-subbar-tags-list-item">
                        <h4>TRAVEL</h4>
                    </a>
                    <a href="photography" class="container-content-listpost-subbar-tags-list-item">
                        <h4>PHOTOGRAPHY</h4>
                    </a>
                    <a href="/life-style" class="container-content-listpost-subbar-tags-list-item">
                        <h4>LIFE STYLE</h4>
                    </a>
                    <a href="/fashion" class="container-content-listpost-subbar-tags-list-item">
                        <h4>FASHION</h4>
                    </a>
                    <a href="/video" class="container-content-listpost-subbar-tags-list-item">
                        <h4>VIDEO</h4>
                    </a>
                    <a href="/hot" class="container-content-listpost-subbar-tags-list-item">
                        <h4>HOT</h4>
                    </a>
                    <a href="/popular" class="container-content-listpost-subbar-tags-list-item">
                        <h4>POPULAR</h4>
                    </a>
                </div>
            </div>

            <div class="container-content-listpost-subbar-categories">
                <div class="container-content-listpost-subbar-categories-title">
                    <h3>CATEGORIES</h3>
                </div>
                <div class="container-content-listpost-subbar-categories-list">
                    <div class="container-content-listpost-subbar-categories-list-item">
                        <a href="/travel">Travel (10)</a>
                    </div>
                    <div class="container-content-listpost-subbar-categories-list-item">
                        <a href="/food">Food (25)</a>
                    </div>
                    <div class="container-content-listpost-subbar-categories-list-item">
                        <a href="/fashion">Fashion (40)</a>
                    </div>
                    <div class="container-content-listpost-subbar-categories-list-item">
                        <a href="/life-style">Life Style (36)</a>
                    </div>
                    <div class="container-content-listpost-subbar-categories-list-item">
                        <a href="/video">Video (4)</a>
                    </div>
                </div>
            </div>

            <div class="container-content-listpost-subbar-subscribe">
                <div class="container-content-listpost-subbar-subscribe-title">
                    <h3>SUBSCRIBE TO NEWSLETTER</h3>
                </div>
                <form action="" class="container-content-listpost-subbar-subscribe-form">
                    <input type="text" placeholder="Enter Your Email...">
                    <div class="container-content-listpost-subbar-subscribe-form-submit">
                        <i class='bx bx-chevrons-right'></i>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="portfolio">
    <div class="portfolio-title">
        <h3>GALLERY</h3>
    </div>
    <div class="portfolio-slide">
        <div class="portfolio-slide-prev">
            <img src="/img/homepage/banner/btn-prev.png" alt="">
        </div>
        <div class="portfolio-slide-left">
            <img src="/img/homepage/Portfolio/1.png" alt="">
        </div>
        <div class="portfolio-slide-center">
            <img src="/img/homepage/Portfolio/2.png" alt="">
        </div>
        <div class="portfolio-slide-right">
            <img src="/img/homepage/Portfolio/3.png" alt="">
        </div>
        <div class="portfolio-slide-next">
            <img src="/img/homepage/banner/btn-next.png" alt="">
        </div>
    </div>
</div>

<script>
    var slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }


    function showSlides(n) {
        var i;
        var slides = document.getElementsByClassName("mySlides");
        //var dots = document.getElementsByClassName("dot");
        if (n > slides.length) { slideIndex = 1 }
        if (n < 1) { slideIndex = slides.length }
        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }
        //for (i = 0; i < dots.length; i++) {
        //    dots[i].className = dots[i].className.replace(" active", "");
        //}
        slides[slideIndex - 1].style.display = "block";
        //dots[slideIndex - 1].className += " active";
    }
</script>

<script>
    const prevElement = document.querySelector('.portfolio-slide-prev')
    const nextElement = document.querySelector('.portfolio-slide-next')
    const leftElement = document.querySelector('.portfolio-slide-left img')
    const centerElement = document.querySelector('.portfolio-slide-center img')
    const righrElement = document.querySelector('.portfolio-slide-right img')

    prevElement.onclick = function() {
        const list = centerElement.src.split('/')
        const number = Number(list[6].split('.')[0])

        leftElement.src = `/img/homepage/Portfolio/${number}.png`
        
        if (number + 1 > 3) {
            centerElement.src = `/img/homepage/Portfolio/${number + 1 - 3}.png`
        } else {
            centerElement.src = `/img/homepage/Portfolio/${number + 1}.png`
        }
        
        
        if (number + 2 > 3) {
            righrElement.src = `/img/homepage/Portfolio/${number + 2 - 3}.png`
        } else {
            righrElement.src = `/img/homepage/Portfolio/${number + 2}.png`
        }
    }

    nextElement.onclick = function() {
        const list = centerElement.src.split('/')
        const number = Number(list[6].split('.')[0])

        righrElement.src = `/img/homepage/Portfolio/${number}.png`
        
        if (number - 1 < 1) {
            centerElement.src = `/img/homepage/Portfolio/${3 - (number - 1)}.png`
        } else {
            centerElement.src = `/img/homepage/Portfolio/${number - 1}.png`
        }
        
        
        if (number - 2 < 1) {
            if (number - 2 == -1) {
                leftElement.src = `/img/homepage/Portfolio/${3 + (number - 2)}.png`
            } else {
                leftElement.src = `/img/homepage/Portfolio/${3 - (number - 2)}.png`
            }
        } else {
            leftElement.src = `/img/homepage/Portfolio/${number - 2}.png`
        }
    }
</script>